// ----------------------------------------
// Paths
// ----------------------------------------
$font-path:         "../fonts/IBMPlexSans/" !default;
$image-path:        "../img/" !default;
$icons-folder-path: "../img/svg-icons/" !default;
